---
---

@import 'github.css';

/**** bootstrap overrides ****/

$body_color: #333;
$heading_color: #2a2f45;
$border_color: #e3e8ee;
$active_nav_color: #000;
$code_background: #f8f9fa;

body {
  font-size: 18px;
  color: $body_color;
  font-family: 'Roboto', sans-serif;
}

pre {
  color: inherit;
  padding: 15px;
  background: $code_background;

  code {
    padding: 0;
    white-space: inherit;
    background: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: $heading_color;
  letter-spacing: .63px;
  font-family: 'Roboto'
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid $border_color;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    // color: #4f566b !important;
    // text-transform: uppercase;
    // font-weight: 600 !important;
}

h4 {
  font-size: 16px;
  color: #a3acb9;
  text-transform: uppercase;
  font-weight: initial;
  margin-bottom: 15px;
  margin-top: 30px;
}

.step {
  span {
    color: #8898aa;
    padding-right: 4px;
  }
}

.tooltip-inner {
  font-size: 11px;
}

.table {
  color: inherit;
}

/******* variables *****/

$nav_height: 56px;
$bg_gray: #f8f9fa;
$tab_border_color: #dee2e6;

/****** navbar *******/

.navbar {
  padding: 5px 0;
  min-height: auto;
  a:link {
    background: none; /* tufte */
    img {
      width: initial;
    }
  }
}

.navbar-brand {
  img {
    height: 25px;
  }
}

/****** nav search ******/

nav#nav_search {
  margin-top: -20px;
  margin-left: -25px;
  margin-right: -22px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border_color;

  input {
    color: gray;
    background-color: transparent;
    background-image: url('/images/search_icon.png');
    background-size: 14px 14px;
    background-position: 32px 23px;
    background-repeat: no-repeat;
    font-size: 16px;
    width: 100%;
    padding: 18px 0 17px 64px;
    outline: none;
    border: 0
  }
}





/****** homepage *****/


/*** FAQ ***/

#faq {
  text-align: center;
  margin-bottom: 20px;

  i {
    color: orange;
    font-size: 34px;
    vertical-align: middle;
  }
}

#faq_list {
  line-height: 180%;
}

/*** footer ***/

#footer {
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
  color: #a3acb9;
  a {
    color: #a3acb9;
  }
}

/*** datasets layout ****/

main {
  margin-top: 15px;

  ul {
    max-width: 600px
  }

  p {
    max-width: 700px;
    line-height: 180%;

    img {
      max-width: 100%;
    }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 4em;
    margin-left: 0;
  }

  figure {
    max-width: 500px;
  }

  > .container {
    padding: 0;
    margin: 0;
  }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /*padding: $nav_height 0 0;*/
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    h6 {
      padding: .5rem 1rem;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      color: #a3acb9;
      margin-top: 20px;
    }

    .nav-item {

      font-size: 1rem;

      .nav-link {
        padding: 8px 1rem;
        &:before {
            content: "›";
            vertical-align: top;
            padding-right: 5px;
            font-size: 1rem;
        }
        &.active:before {
          content: "⌄"
        }
      }
      &.active .nav-link, .nav-link.active {
        color: $active_nav_color;
      }
    }

    .nav-item {
      a {
        color: #777;
        &:hover {
          color: $heading_color;
          text-decoration: none;
        }
        &.is-active-link {
          color: $active_nav_color;
          font-weight: bold;
          // font-weight: initial;
        }

      }
    }

    .toc-link::before {
      display: none;
    }

    .toc-list.toc-list-mods {
      margin: initial;
      padding-left: 30px;
      list-style-type: none;


      .toc-list-item {
        padding: 8px 0;
        white-space: nowrap;

        &:before {
          content: "•";
          color: gray;
          padding-right: 10px;
        }

// overflow: hidden;
text-overflow: ellipsis;
width: 95%;
      }

      .toc-list {
        padding-left: 15px;
      }
    }
}

.sidebar-sticky {
  position: sticky;
      top: 0;
    height: calc(100vh);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.code_samples {
  .nav-link {
    img {
      max-height: 16px;
      margin-right: 3px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    &.active {
      background: $bg_gray;
      font-weight: bold;
      border-bottom-color: $bg_gray;
    }
  }
  figure {
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    margin-top: 0;
    max-width: initial;
  }
}

code {
  background: $bg_gray;
  padding: 2px 4px;
  white-space: nowrap;      /*border: 1px solid $tab_border_color;*/

}

figure {
    border-radius: 5px;
    background: $bg_gray;
    border: 1px solid $tab_border_color;
    margin-top: 15px;
    pre {
      padding: 15px;
      margin-bottom: 0;
      code {
        white-space: inherit
      }
    }
  }

#examples_sidebar {
  top: $nav_height;
  padding-left: 20px;
  border-left: 1px solid $tab_border_color;
  color: gray;
  font-size: 12px;
  table {
    td:first-child {
      width: 1%;
    }
  }
}

.params {
  font-size: 12px;
  td:first-child {
    white-space: nowrap;
  }
}

main {
  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*** modifiers ***/

.muted {
  color: #6c757d;
}

/* https://github.com/tscanlin/tocbot#fixed-headers */
/*h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: $nav_height;
    margin-top: -$nav_height;
    visibility: hidden;
}*/

/*** bootstrap callouts ***/


// https://cpratt.co/twitter-bootstrap-callout-css-styles/

 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/** setup device **/
