<div id="footer" class="container">
  <div class="row">
    <div class="col">
      <a href=https://github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ page.path }} class="git_button">
        <img src="/images/github.png" alt="GitHub" />
        Edit on GitHub
      </a>
    </div>
    <div class="col">
      <div style="{% if page.layout == "default" %} float:right {% endif %}">
        © 2020 Luxonis Inc. All rights reserved.<br/>
        <a href="mailto:support@luxonis.com">support@luxonis.com</a>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->


<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/material.min.js"></script>
<script src="/js/tocbot.js"></script>
<script type="text/javascript" src="/js/anchor.min.js"></script>
<script src="/js/application.js"></script>
