<div class="sidebar-sticky">
  <div style="background-color: #eb9950; padding: 10px 5px">
    <h2>This website is <u>outdated</u></h2>
    <h3>Latest docs available at <a href="https://docs.luxonis.com">docs.luxonis.com</a></h3>
  </div>
  <div class="navbar-brand">
    <a href="/"><img src="/images/depthai_logo.png" alt="DepthAI"></a>
    {% if site.enable_languages %}
      <select id="lang-switch" onchange="location = this.value;">
        <option value="" selected disabled hidden>Change language</option>
        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
        <!--    TODO finish these images as CSS background images    -->
        <option value="{{ link1 }}"><img src="/images/flags/united-kingdom-flag.svg" alt="flag-en"> English</option>
        {% capture link2 %}{{ site.baseurl_root }}/pl{{ page.url }}{% endcapture %}
        <option value="{{ link2 }}"><img src="/images/flags/poland-flag.svg" alt="flag-pl">Polski</option>
      </select>
    {% endif %}
  </div>

  <ul class="nav flex-column">
    {% assign sorted = (site.html_pages | sort: 'order' | where_exp: "item", "item.hide != true") %}
    {% for p in sorted %}
      {% if p.toc_title == 'Tutorials' %}
        {% continue %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link {% if p.url == page.url %}active{% endif %}" href="{{ p.url }}">
            {% if p.toc_title %}
              {{ p.toc_title }}
            {% else %}
              {{ p.title }}
            {% endif %}
          </a>
          {% if p.url == page.url and page.url != '/blog/' %}
            <div id="toc"></div>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h6 class="sidebar-heading muted">Products</h6>
  <ul class="nav flex-column">
    {% assign sorted = (site.products | sort: 'order' | where_exp: "item", "item.hide != true") %}
    {% for p in sorted %}
    <li class="nav-item {% if p.url == page.url %}active{% endif %}">
      <a class="nav-link" href="{{ p.url }}">
        {% if p.toc_title %}
          {{ p.toc_title }}
        {% else %}
          {{ p.title }}
        {% endif %}
      </a>
      {% if p.url == page.url %}
      <div id="toc"></div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <h6 class="sidebar-heading muted">Tutorials</h6>
  <ul class="nav flex-column">
    {% assign sorted = (site.tutorials | sort: 'order' | where_exp: "item", "item.hide != true") %}
    {% for p in sorted %}
    <li class="nav-item {% if p.url == page.url %}active{% endif %}">
      <a class="nav-link" href="{{ p.url }}">
        {% if p.toc_title %}
          {{ p.toc_title }}
        {% else %}
          {{ p.title }}
        {% endif %}
      </a>
      {% if p.url == page.url %}
      <div id="toc"></div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <h6 class="sidebar-heading muted">Code Samples</h6>
  <ul class="nav flex-column">
    {% assign sorted = (site.examples | sort: 'order' | where_exp: "item", "item.hide != true") %}
    {% for p in sorted %}
    <li class="nav-item {% if p.url == page.url %}active{% endif %}">
      <a class="nav-link" href="{{ p.url }}">
        {% if p.toc_title %}
          {{ p.toc_title }}
        {% else %}
          {{ p.title }}
        {% endif %}
      </a>
      {% if p.url == page.url %}
      <div id="toc"></div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <h6 class="sidebar-heading muted">
    <a class="header-link" href="/training">Custom Training</a>
  </h6>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_Object_Detection_Demo_Training.ipynb">
        Tutorial - MobileNetSSD training
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_Object_Detection_With_Custom_Data_Demo_Training.ipynb">
        Tutorial - MobileNetSSD training with custom data
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/Easy_TinyYolov3_Object_Detector_Training_on_Custom_Data.ipynb">
        Tutorial - YOLO-based Mask Detector
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://colab.research.google.com/github/luxonis/depthai-ml-training/blob/master/colab-notebooks/GDrive-Resize.ipynb">
        Tool - Google Drive image batch resizer
      </a>
    </li>
  </ul>
  <br/> <!-- trouble applying padding to sidebar ... needs some space when url address is shown -->
</div>
